VITE_API_BASE_URL=http://localhost:5000
VITE_APP_NAME=English Center Management System
MONGODB_URI=mongodb://localhost:27017/testcenter
VITE_CLOUDINARY_CLOUD_NAME=your_cloud_name
VITE_CLOUDINARY_UPLOAD_PRESET=your_upload_preset
